@import '../../App.scss';

.d-backdrop {
    width: 100%;
    height: 100%;
    background: rgba($color: map-get($map: $color, $key: superBlack), $alpha: 0.5);
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
}

@media (min-width: 992px) {
    .d-backdrop {
        display: none;
    }
}