@import '../../App.scss';

.d-drawer-toggle-button {
    width: 30px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer; 
    display: flex;
    flex-direction: column;  
    justify-content: space-around;
}

.d-drawer-toggle-button:focus {
    outline: none;
}
.d-drawer-toggle-button-line {
    height: 2px;
    background-color: map-get($map: $color, $key: dark);
}
.d-drawer-toggle-button-line:nth-child(1) {
    width: 100%;
}
.d-drawer-toggle-button-line:nth-child(2) {
    width: 80%;
}

.d-drawer-toggle-button-line:nth-child(3) {
    width: 60%;
}

@media (min-width: 991px) {
    .d-drawer-toggle-button {
        display: none;
    }
}

