@import '../../App.scss';

.d-sidedrawer {
    height: 100%;
    position: fixed;
    background: map-get($map: $color, $key: primary);
    width: 70%;
    max-width: 400px;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    ul {
        list-style: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        li {
            padding: 0.5rem;
            cursor: pointer;
            ul {
                padding-left: 0.5rem;
                li:hover {
                    background: map-get($map: $color, $key: dark);
                }
                li:hover a {
                    color: map-get($map: $color, $key: light);
                }
            }
        }
    } 
}
.open {
    transform: translateX(0);
}

@media (min-width: 992px) {
    .d-sidedrawer {
        display: none;
    }
}